services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: rent-my-drones-be-dev
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./app/node_modules
    stdin_open: true
    tty: true
